<?xml version="1.0" encoding="UTF-8"?>
<configuration status="WARN">
    <appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>

        <File name="MyFile1" fileName="logs/app.log" immediateFlush="true">
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level - %msg%n"/>
        </File>

        <File name="MyFile2" fileName="logs/app2.log" immediateFlush="true">
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level - %msg%n"/>
        </File>

        <File name="MyFile3" fileName="logs/app3.log" immediateFlush="true">
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level - %msg%n"/>
        </File>

    </appenders>
    <loggers>

        <logger name="filelogger1" level="info">
            <appender-ref ref="MyFile1"/>
        </logger>

        <logger name="filelogger2" level="warn">
            <appender-ref ref="MyFile2"/>
        </logger>

        <logger name="filelogger3" level="error">
            <appender-ref ref="MyFile3"/>
        </logger>

        <root level="fatal">
            <appender-ref ref="MyFile1" level="fatal"/>
        </root>
    </loggers>
</configuration>